.footer {

    background: #1D2830;
    padding: 100px 100px 0 100px;
    width: 1100px;

    .footer_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        .fot_flex {
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 100%;
            gap: 10px;

            .flex_h6 {
                color: #FFF;
                font-feature-settings: 'salt' on, 'liga' off;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;

            }

            .flex_p {
                color: #FFF;
                font-feature-settings: 'salt' on, 'liga' off;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
            }
        }
    }

    .rodape {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        color: #FFF;

        span {


            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
        }

        div {
            display: flex;
            gap: 20px;

            .img_ro {

                background: rgba(255, 255, 255, 0.1);
                font-size: 34px;
                border-radius: 50%;
                padding: 10px;
            }
        }
    }
}

@media (max-width: 600px) {

    .footer {
        display: flex;
        flex-direction: column;
        background: #1D2830;
        padding: 0;
        width: 412px;

        .footer_grid {
            padding: 10px;
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            margin-bottom: 20px;
            gap: 20px;

            .fot_flex {
                display: flex;
                flex-direction: column;
                align-items: start;

                height: 100%;
                gap: 10px;

                .flex_h6 {
                    width: 375px;
                    font-size: 16px;
                    line-height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                }

                .flex_p {
                    display: none;
                }
            }
        }

        .rodape {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            align-items: start;
            justify-content: space-between;
            padding: 20px 0;
            color: #FFF;

            span {
                margin: 5px;
                padding: 10px;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 14px;
            }


            .img_ro {

                display: none;
            }

        }
    }
}